<h1 class="visibility-hidden">{{ help_center.name }}</h1>

<section id="main-content" class="section hero">
  <div class="hero-inner">
    <h2 class="visibility-hidden">{{ t 'search' }}</h2>
    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="search-icon" aria-hidden="true">
      <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor"/>
      <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5"/>
    </svg>
    {{search submit=false instant=settings.instant_search class='search search-full'}}
  </div>
</section>

<div class="container">
  <section class="section knowledge-base article-container">
    <aside class="article-sidebar" aria-labelledby="section-articles-title">
        <div class="collapsible-sidebar">
          <div id="sidebar-navigation">
            <ul>
              {{#each categories}}
              <li class="left-nav-article-category">

                  <span class="category-icon">
                  {{#is id 360000188472}}
                  <!-- Getting Started -->
                  <i class="fas fa-play-circle"></i>
                  {{/is}}
                  {{#is id 360000077631}}
                  <!-- Contacts -->
                  <i class="fas fa-user"></i>
                  {{/is}}
                  {{#is id 360000074252}}
                  <!-- Products -->
									<i class="fas fa-tags"></i>
									{{/is}}
                  {{#is id 360000191611}}
                  <!-- Sales -->
									<i class="fas fa-receipt"></i>
									{{/is}}
                  {{#is id 360000074292}}
                  <!-- Purchase -->
									<i class="fas fa-ship"></i>
									{{/is}}
                  {{#is id 360000074232}}
                  <!-- Shipping -->
									<i class="fas fa-shipping-fast"></i>
									{{/is}}
                  {{#is id 360000077671}}
                  <!-- Inventory -->
									<i class="fas fa-pallet"></i>
									{{/is}}
                  {{#is id 360000074332}}
                  <!-- Manufacturing -->
									<i class="fas fa-industry"></i>
									{{/is}}
                  {{#is id 360000074312}}
                  <!-- Financials -->
									<i class="fas fa-dollar-sign"></i>
									{{/is}}
                  {{#is id 360000191591}}
                  <!-- Settings -->
									<i class="fas fa-cog"></i>
									{{/is}}
                  {{#is id 360000077711}}
                  <!-- Developers -->
									<i class="fas fa-code"></i>
									{{/is}}
                  {{#is id 360000546952}}
                  <!-- Release Notes -->
									<i class="fas fa-scroll"></i>
									{{/is}}
                  </span>
                <a href='{{url}}'>
                  {{ name }}
                </a>
              </li>
              {{/each}}
            </ul>
          </div>
        </div>
    </aside>
    
    <section class="categories blocks">
      <h2>Documentation</h2>
      <ul class="blocks-list">
        {{#each categories}}
          {{#if ../has_multiple_categories}}
            <li class="blocks-item">
              <a href='{{url}}' class="blocks-item-link">
                <span class="blocks-item-title">{{name}}</span>
                <span class="blocks-item-description">{{excerpt description}}</span>
              </a>
            </li>
          {{else}}
            {{#each sections}}
              <li class="blocks-item">
                <a href='{{url}}' class="blocks-item-link">
                  <span class="blocks-item-title">
                    {{name}}
                  </span>
                  <span class="blocks-item-description">{{excerpt description}}</span>
                </a>
              </li>
            {{/each}}
          {{/if}}
        {{/each}}
      </ul>
      {{pagination}}
    </section>

    {{#if promoted_articles}}
      <section class="articles">
        <h2>{{t 'promoted_articles'}}</h2>
        <ul class="article-list promoted-articles">
          {{#each promoted_articles}}
            <li class="promoted-articles-item">
                <a href="{{url}}">
                  {{title}}

                  {{#if internal}}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16" class="icon-lock" title="{{t 'internal'}}">
                      <rect width="12" height="9" x="2" y="7" fill="currentColor" rx="1" ry="1"/>
                      <path fill="none" stroke="currentColor" d="M4.5 7.5V4a3.5 3.5 0 017 0v3.5"/>
                    </svg>
                  {{/if}}
                </a>
            </li>
          {{/each}}
        </ul>
      </section>
    {{/if}}
  </section>

  {{#if help_center.community_enabled}}
    <section class="section home-section community">
      <h2>{{t 'community'}}</h2>
      {{#link 'community' class='community-link'}}
        {{t 'join_conversation'}}
      {{/link}}

      <div class="community-image"></div>
    </section>
  {{/if}}

  <section class="section home-section activity">
    {{#if settings.show_recent_activity}}
      {{recent_activity}}
    {{/if}}
  </section>
</div>
